@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.content{
    width: 60%;
    height: 100vh;
    margin: 0px auto 0px auto;
    background-color: #dddddd6c;
    position: relative;
}
.Header{
    width: 100%;
    height: 70px;
    /* background-color: rgb(56, 18, 91); */
    background:linear-gradient(rgb(56, 18, 91), rgba(56, 18, 91, 0.621));
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemMenu{
    margin: 0px 10px 0px 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.itemMenu:hover{
    color: rgb(228, 210, 244);
    transition: 0.3s;
}
.itemMenuImg{
    background-color: #fff;
    height: 50px;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
}
.imageContent{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.alingH{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.contentVariable{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}
.footerContent{
    width: 100%;
    height: 55px;
    background-color: rgb(56, 18, 91);
    display: flex;justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.hFooter{
    color: rgb(228, 210, 244);
}
a{
    text-decoration: none;
    color: #fff;
}